.flex {
    display: flex;
}
.flex__grow {
    flex-grow: 1;
}
.flex__column {
    flex-flow: column;
}
.flex__row {
    flex-flow: row;
}
.flex__align-items-start {
    align-items: flex-start;
}
.flex__align-items-center {
    align-items: center;
}
.flex__align-items-end {
    align-items: flex-end;
}
.flex__justify-content-center {
    justify-content: center;
}
.flex__justify-content-space-between {
    justify-content: space-between;
}
.flex__justify-content-space-evenly {
    justify-content: space-evenly;
}
.flex__justify-content-end {
    justify-content: flex-end;
}
.flex__justify-content-start {
    justify-content: flex-start;
}
.flex__justify-content-end-force {
    justify-content: flex-end !important;
}
.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_grow {
    flex-grow: 1;
}