<div class="app-container">
    <sidebar
    [namePage]="'dashboard'">
    </sidebar>
    <div class="app-content app-content__start flex flex__column">
        <div *ngIf="!company" class="loader-container"><span class="loader"></span></div>
        <div *ngIf="company" class="company-header">
            <a routerLink="/dashboard" class="btn btn__round btn__blue">
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.53033 0.46967C7.82322 0.762563 7.82322 1.23744 7.53033 1.53033L2.81066 6.25H13.5C13.9142 6.25 14.25 6.58579 14.25 7C14.25 7.41421 13.9142 7.75 13.5 7.75H2.81066L7.53033 12.4697C7.82322 12.7626 7.82322 13.2374 7.53033 13.5303C7.23744 13.8232 6.76256 13.8232 6.46967 13.5303L0.46967 7.53033C0.176777 7.23744 0.176777 6.76256 0.46967 6.46967L6.46967 0.46967C6.76256 0.176777 7.23744 0.176777 7.53033 0.46967Z"/>
                </svg>                
            </a>
            <div class="company-infos">
                <h1 class="font-title-h1">{{company.name}}</h1>
                <span class="font-subtext company-siren">N° SIREN {{company.siren}}</span>
            </div>
        </div>
        <div *ngIf="!loading" class="company-data-container">
            <div class="company-data">
                <div class="font-title-h2 data-label">Chiffre d'affaire</div>
                <div class="chart-container">
                    <chart
                    [labels]="data.ca.labels"
                    [counts]="data.ca.count">
                    </chart>
                </div>
            </div>
            <div class="company-data">
                <div class="font-title-h2 data-label">EBITDA</div>
                <div class="chart-container">
                    <chart
                    [labels]="data.ebitda.labels"
                    [counts]="data.ebitda.count">
                    </chart>
                </div>
            </div>
            <div class="company-data">
                <div class="font-title-h2 data-label">Loss</div>
                <div class="chart-container">
                    <chart
                    [labels]="data.loss.labels"
                    [counts]="data.loss.count">
                    </chart>
                </div>
            </div>
            <div class="company-data">
                <div class="font-title-h2 data-label">Margin</div>
                <div class="chart-container">
                    <chart
                    [labels]="data.margin.labels"
                    [counts]="data.margin.count">
                    </chart>
                </div>
            </div>
        </div>
    </div> 
  </div>